.logo {
    max-height: 38px;
    max-width: 200px;
    width: auto;
}

.btn-fixed {
    min-width: 90px; /* ボタンの最小幅を指定 */
    white-space: nowrap; /* テキストが折り返されないように */
    text-align: center; /* テキストを中央揃え */
    padding: 6px 12px; /* ボタンの高さを統一 */
}